@import "tailwindcss";

* {
  font-family: "Nunito", sans-serif;
}

@theme {
  --breakpoint-xsm: 240px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
